<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<system.diagnostics>
		<trace autoflush="true" />
		<sources>
			<source name="System.ServiceModel"
					  switchValue="Information, ActivityTracing"
					  propagateActivity="true">
				<listeners>
					<add name="sdt"
                   type="System.Diagnostics.XmlWriterTraceListener"
                   initializeData= "E:\Temp\output.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>-->

</configuration>